@tailwind base;

@layer base {
  html {
    font-family: Inter
  }
  button {
    @apply  rounded-lg py-2 hover:shadow-lg
  }
  input {
    @apply border p-1 rounded-lg focus:border-gray-300 bg-neutral focus:outline-none
  }
}
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* background: #dfb7b7; */
}

